@import "bourbon/bourbon"

body
	margin: auto
	
/* layout imports */

@import 'layout/header'

@import 'layout/section'

@import 'layout/article'
				
@import 'layout/aside'

@import 'layout/footer'
			
/* responsive */

@media (max-width: 1200px)
	section
		height: 1300px

	section .lock-up .skill-lockup
		width: 100%
		margin: 0
		background: 
			image: none

	section .lock-up .skill-lockup h2
		width: 100%
		
	section .lock-up .skills
		width: 100%


@media (max-width: 885px)
	section
		height: 1620px

	header
		height: 400px

	header .wrapper
		height: 400px

	header .wrapper .logo
		display: none

	aside form input
		width: 35%

	aside form textarea
		width: 60%

	[type="submit"]
		width: 100px

@media (max-width: 647px)
	
	
	

	header .wrapper .artist
		font-size: 1.75em
		border: none
		margin-bottom: 0.5em
		font-weight: 700
		text-transform: uppercase
		letter-spacing: 0.05em

	section
		height: 1900px

	section .myself
		background-size: cover
		margin: 20px
		height: 60px
		width: 250px

	section .lock-up .face-img
		height: 375px
		width: 250px
		margin: 0

	article
		height: 800px
		padding: 0

	article .creative-art
		display: block

	article .proj
		width: 280px
		height: 53px
		padding: 0
		background-size: cover

	aside
		padding: 0

	aside form input
		width: 60%

	aside form textarea
		width: 80%
	
	[type="submit"]
		width: 100px

	footer
		height: 180px