.work 
	width: 100%
	min-height: 700px
	text-align: center	
	background-color: #F7F9FA
	padding-bottom: 150px
	.case
		display: inline-block
		margin: 30px

		h2
			font-family: $georgia
			color: #6F4D4D
			letter-spacing: 1px
	.examples 

		width: 100%
		@include display(flex)
		@include flex-direction(row)
		@include justify-content(center)
		@include align-items(center)
		@include flex-wrap(wrap)

		@for $i from 1 through 2
			.example-#{$i}
				height: 400px
				width: 400px
				position: relative
				background-image: url("/img/work/work#{$i}.png")
				background-position: center
				background-size: 100%
				background-repeat: no-repeat
				margin: 30px 
				border: 3px solid #F5EBDF
				cursor: pointer
				transition: all 0.3s ease-in-out

				&:hover 
					background-size: 110%
					

					

					h2 
						display: inline-block
						margin-top: 40px
						font-weight: 100

			@media (max-width: 500px)
				.example-#{$i}
					height: 300px
					width: 300px

						
