aside
	text-align: center
	background-color: #F7F9FA
	
	h2 
		text-transform: uppercase
		font-weight: 400
		font-size: 24px
		margin-top: 0
	
	form
		padding: 20px 0 100px 0
		
		
		textarea
			border: 3px solid 
			height: 100%
			width: 100%
			font:
				size: 20px
				style: Sans-serif
				weight: 300

			&:focus 
				outline: none
				border-color: #87683B

		input
			border: 3px solid 
			height: 100%
			width: 100%
			font:
				size: 16px
				style: Sans-serif
				weight: 500

			&:focus 
				outline: none
				border-color: #87683B

		[type="submit"]
			background: #F5EBDF
			height: 40px
			width: 60px
			


			&:focus 
				outline: none
				border-color: #87683B

		label
			display: block
			margin: 20px auto
			span
				margin: 10px
				text-transform: uppercase
				display: block
				font-size: 20px

		.label-1
			width: 250px
		.label-2
			width: 400px
		.label-3
			width: 60px	

		@media (max-width: 500px)
			.label-1
				width: 150px

			.label-2
				width: 250px

			.label-span	
				font-size: 16px	
